.text-input-container {
  width: 100%;

  .input-indicator {
    border: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s;

    .size-indicator {
      padding: 5px;
      display: inline-block;
      align-self: flex-end;
      font-size: 13px;
      color: gray !important;
    }

    input {
      border: none;
      width: 100%;
      padding: 10px;
      background: none !important;
      color: gray !important;
      outline: none;
      appearance: none !important;
      font-size: 18px;
    }
  }

  .input-indicator:hover {
    border: 1px solid black;
  }

  .input-label {
    @extend .huge-name-label;

    margin-bottom: 5px;
  }
}