.article-page {
  @extend .page;

  .author-info-container {
    @extend .container;

    width: 250px;
    height: 100%;

    img {
      display: block;
      margin: auto;
      height: 250px;
      border-radius: 5px;
      -webkit-filter: contrast(0.15);
      filter: contrast(0.15);
      cursor: pointer;
      transition: 0.2s;
    }

    img:hover {
      -webkit-filter: contrast(1);
      filter: contrast(1);
    }
  }

  .article-content-container {
    @extend .container;
    padding: 30px 40px 15px;
    width: 900px;
    display: flex;

    .loading-gif {
      margin: auto auto 15px;
      height: 150px;
    }

    .title {
      margin: 10px 0 30px 0;
      font-size: 40px;
      color: gray;
      font-weight: bold;
    }

    .back-more {
      height: 40px;
      justify-content: space-between;
      display: flex;

      a {
        button {
          padding-right: 10px;
          padding-left: 10px;
          height: 40px;
          border-radius: 5px;
          border: none;
          background: none;
          color: gray;
          font-weight: bold;
          font-size: 18px;
          transition: 0.2s;
        }

        button:hover {
          background: whitesmoke;
        }
      }

      .more-icon {
        height: 20px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .date-time {
      margin: 10px auto auto;
      color: gray;
    }

    .meta {
      justify-content: space-between;
      display: flex;
      align-items: flex-end;

      .avatar {
        height: 50px;
        margin-right: 10px;
        border-radius: 5px;
      }

      .subscribe-button {
        color: gray;
        font-weight: bold;
        background: none;
        border-radius: 10px;
        margin-left: 20px;
        border: none;
        font-size: 20px;
        height: 100%;
        padding-left: 15px;
        padding-right: 15px;
        align-self: flex-end;
        transition: 0.2s;
      }

      .subscribe-button:hover {
        background: whitesmoke;
      }

      .newspaper-author {
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 0;

        a {
          text-decoration: none;
        }

        .author, .newspaper {
          color: gray;
          transition: 0.2s;
        }

        .author:hover, .newspaper:hover {
          color: black;
        }
      }
    }

    .content {
      display: flex;
      color: gray;
      min-height: 300px;
      margin: 0 0 45px 0;
      overflow-wrap: anywhere;
    }
  }
}