body {
  min-height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: whitesmoke;
  background: no-repeat center center fixed url(http://127.0.0.1:8000/backgrounds/background.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  //overflow-y: hidden; /* Hide vertical scrollbar */
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.page {
  width: fit-content;
  margin: auto;
  padding: 10px;
  height: fit-content;
}

.container {
  margin: 10px;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
}

.space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.pagination {
  align-items: center;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  color: gray;

  button {
    border: none;
    background: none;
    color: gray;
    font-size: 18px;
    font-weight: bold;
    transition: 0.2s;
  }

  button:hover {
    color: black;
  }

  label {
    margin: 35px;
  }
}

.page-loading-state {

}

.ok-container {
  @extend .container;

  height: 200px;
  width: 300px;

  img {
    margin: auto;
    height: 90px;
    width: 90px;
  }

  label {
    margin: auto;
    color: gray;
  }
}

.text-input {
  margin-bottom: 25px;

  .input-indicator {
    border: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s;

    .size-indicator {
      padding: 5px;
      display: inline-block;
      align-self: flex-end;
      font-size: 13px;
      color: gray !important;
    }

    input {
      border: none;
      width: 100%;
      padding: 10px;
      background: none !important;
      color: gray !important;
      outline: none;
      appearance: none !important;
      font-size: 18px;
    }
  }

  .input-indicator:hover {
    border: 1px solid black;
  }

  .input-label {
    margin-bottom: 5px;
    width: 100%;
    color: gray !important;
    font-size: 22px;
    font-weight: bold;
  }
}

.textarea-input-container {
  margin-bottom: 25px;
  height: fit-content;

  .textarea-input {
    border: 1px solid lightgray;
    transition: 0.2s;

    textarea {
      margin-bottom: 15px;
      min-height: 280px;
      outline: none;
      resize: none;
      padding: 15px;
      color: gray;
      border: none;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }

    .size-indicator {
      padding: 5px;
      display: inline-block;
      align-self: flex-end;
      font-size: 13px;
      color: gray !important;
    }
  }

  .textarea-input:hover {
    border: 1px solid black;
  }

  .input-label {
    margin-bottom: 5px;
    width: 100%;
    color: gray !important;
    font-size: 22px;
    font-weight: bold;
    height: fit-content;
  }
}

a {
  text-decoration: none;
}

button {
  height: fit-content;
  width: fit-content;
  background: none;
  border-radius: 5px;
  color: gray;
  padding: 10px;
  border: none;
  transition: 0.2s;
}

button:hover {
  background: whitesmoke;
  color: black;
}

.MuiMenu-root, .MuiMenu-paper, .MuiMenu-list {
  color: gray;
}

.label-editable__root {
  display: flex;
  flex-direction: row;
}