.comments-section-container {
  @extend .container;

  max-width: 940px;

  text-align: center;

  button {
    border: none;
    background: none;
    color: gray;
    font-size: 18px;
    transition: 0.2s;
  }

  button:hover {
    color: black;
    background: whitesmoke;
  }

  .comments-list {
    .comment {
      margin-bottom: 20px;
      justify-content: space-between;
      display: flex;
      align-items: flex-end;

      p {
        color: gray;
      }

      img {
        height: 40px;
        width: 40px;
        margin-right: 10px;
      }

      .nick-more {
        color: gray;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 890px;

        button {
          padding: 0;
        }

        label {
          margin-right: 5px;
          transition: 0.2s;
        }

        .nickname, .reply {
          color: gray;
          font-weight: bold;
          cursor: pointer;
        }

        .nickname:hover, .reply:hover {
          color: black;
        }

        .reply {
          margin-left: 20px;
        }
      }

      .content {
        height: fit-content;
        text-align: left;
        max-width: 860px;
        margin-top: 0;
        margin-bottom: 10px;
      }

      .date-rating {
        justify-content: space-between;
        width: 100%;

        .date {
          color: gray;
          font-size: 13px;
          text-align: center;
        }
      }
    }
  }
}

.create-comment-form {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;

  .content-input {
    width: 100%;
  }

  button {
    margin-top: auto;
    margin-left: 15px;
    margin-bottom: 0;
    padding: 10px;
    border-radius: 10px;
    height: fit-content;
  }
}