.create-article-page {
  @extend .page;

  .create-article-container {
    @extend .container;

    width: 800px;

    .content-input {
      margin-bottom: 20px;
      min-height: 380px;
    }

    .settings {
      width: auto;
      justify-content: space-between;

      .author, .language {
        margin-bottom: 25px;

        .select-label {
          margin-bottom: 5px;
          width: 100%;
          color: gray !important;
          font-size: 22px;
          font-weight: bold;
        }

        select {
          width: 350px;
          font-size: 15px;
          padding: 10px;
          color: gray;
          outline: none;
          background: white;
          border: 1px solid lightgray;
          transition: 0.2s;
        }

        select:hover {
          border: 1px solid black;
        }
      }

      .loading {
        margin-top: auto;
        justify-content: center;

        label {
          margin-right: 15px;
        }

        img {
          height: 50px;
          width: 50px;
        }
      }

      button {
        margin-top: auto;
        height: 45px;
        width: 100px;
        font-size: 18px;
        color: white;
        text-align: center;
        background: #66ccff;
        border: none;
        outline: none;
        border-radius: 10px;
        transition: 0.2s;
      }

      button:hover {
        background: #4dc3ff;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
      }

      button:disabled {
        background: gray;
        box-shadow: none;
      }
    }

    .back-more {
      height: 40px;
      justify-content: space-between;
      display: flex;
      margin-bottom: 15px;

      a {
        button {
          transition: 0.2s;
          padding-right: 10px;
          padding-left: 10px;
          height: 40px;
          border-radius: 5px;
          border: none;
          background: none;
          color: gray;
          font-weight: bold;
          font-size: 18px;
        }

        button:hover {
          background: whitesmoke;
        }
      }

      .more-icon {
        height: 20px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}