.newspaper-staff-page {
  @extend .page;

  .newspaper-staff-container {
    @extend .container;

    color: gray;
    min-width: 400px;

    .user-staff {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 10px;

      button {
        padding: 0;
      }

      .staff-avatar {
        height: 50px;
        width: 50px;
        margin-right: 10px;
      }

      .nickname {
        font-weight: bold;
      }

      .position-name {

      }
    }
  }
}