@import "base";

.subscriptions-page {
  @extend .page;

  .subscriptions-container {
    @extend .container;

    width: 650px;

    .title {
      width: 100%;
      color: gray;
      font-weight: bold;
      font-size: 20px;
      margin: auto auto 20px;
    }

    .newspaper {
      justify-content: space-between;
      margin-bottom: 20px;

      img {
        height: 70px;
        margin-right: 10px;
        transition: 0.2s;
      }

      .name-nickname {
        color: gray;

        a {
          text-decoration: none;
          color: gray;
          margin-bottom: 5px;

          .nickname, .name {
            cursor: pointer;
            transition: 0.2s;
          }

          .name {
            font-size: 20px;
            font-weight: bold;

          }
        }
      }

      button {
        padding: 10px;
        margin: 0 5px;
        height: fit-content;
        width: fit-content;
        font-size: 18px;
        color: gray;
        text-align: center;
        background: none;
        border: none;
        outline: none;
        border-radius: 10px;
        transition: 0.2s;
      }

      button:hover {
        background: rgb(240, 240, 240);
      }
    }

    .newspaper:hover {
      img {
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
      }

      .name-nickname {
        a {
          .nickname, .name {
            color: black;
          }
        }
      }
    }
  }


}