.comments-section-container {
  @extend .container;

  max-width: 940px;
  text-align: center;

  .comment {
    margin-bottom: 20px;

    justify-content: space-between;
    display: flex;
    align-items: flex-end;

    .avatar-link {
      height: 50px;
      width: 50px;
      margin-bottom: auto;

      margin-right: 10px;
    }

    .nick-more {
      color: gray;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      width: 890px;

      button {
        padding: 0;
      }

      label {
        margin-right: 5px;
        transition: 0.2s;
      }

      .reply {
        @extend .small-name-label;

        margin-left: 20px;
      }
    }

    .date-rating {
      justify-content: space-between;
      width: 100%;
    }
  }
}

.create-comment-form {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;

  .content-input {
    width: 100%;
  }

  .create-comment-button {
    @extend .small-gray-button;

    margin-top: auto;
    margin-left: 10px;
  }
}