@import "base/body";
@import "base/labels";
@import "base/rating-label";
@import "base/buttons";
@import "base/page";
@import "base/avatars";
@import "base/containers";
@import "base/inputs";
@import "base/icons";
@import "base/pagination";
@import "base/flags";
@import "base/links";
@import "base/rating/rating";
@import "article/comments";

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}