.create-newspaper-container {
  @extend .container;

  width: 600px;

  .avatar-name {
    width: 100%;
  }

  .name-input, .description-input {
    margin-bottom: 20px;
  }

  .description-input {
    height: 300px;
  }

  .settings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}