.navigation {
  height: 70px;
  width: 100%;
  min-width: fit-content;
  background: white;
  white-space: nowrap;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .navigation-buttons-container {
    margin: 0 50px;

    button {
      @extend .medium-gray-button;

      margin-left: 5px;
      margin-right: 5px;
      border-radius: 10px;
      width: 100px;
    }
  }

  .user-panel-container {
    display: flex;
    flex-direction: row;
    width: 300px;
    align-items: center;

    .notification-indicator-container {
      color: white;
      background: red;
      font-size: 10px;
      padding: 5px;
      margin: 10px;
      font-weight: bold;
      letter-spacing: 2px;
      border-radius: 5px;
    }

    .user-panel-balance {
      margin-left: 10px;
      height: 40px;
      display: flex;
      flex-direction: column;

      label {
        line-height: 20px;
        font-size: 14px;
        color: gray;
        vertical-align: middle;
      }

      .gold-container label {
        //color: gold;
      }

      .currency {
        font-weight: bold;
        margin-left: 5px;
      }

      .diamonds-container label {
        //color: aqua;
      }
    }
  }
}