.navigation {
  background: white;
  white-space: nowrap;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo-container {
    width: 100px;
    min-width: 100px;
  }

  .sign-out-button {
    margin: 0 5px;
    height: 45px;
    width: 100px;
    font-size: 18px;
    color: gray;
    text-align: center;
    background: none;
    border: none;
    outline: none;
    border-radius: 10px;
    transition: 0.2s;
  }

  .sign-out-button:hover {
    // background: #62c256;
    background: rgb(240, 240, 240);
  }

  .upper-navigation-container {
    height: 80px;
    margin: 0 50px;
    display: inline-block;

    .navigation-button {
      @extend .sign-out-button;
    }

    .navigation-button:hover {
      @extend .sign-out-button, :hover;
    }
  }

  .user-panel-container {
    width: 300px;
    float: right;
    align-items: center;
    height: 50px;

    .user-panel-avatar {
      height: 50px;
      width: 50px;
      border-radius: 100%;
    }

    .push-notifications-container {
      color: white;
      background: red;
      font-size: 10px;
      padding: 5px;
      margin: 10px;
      font-weight: bold;
      letter-spacing: 2px;
      border-radius: 5px;
    }

    .user-panel-balance {
      margin-left: 10px;
      height: 40px;

      label {
        line-height: 20px;
        font-size: 15px;
        color: gray;
        vertical-align: middle;
      }
    }
  }
}