.profile-page {
  @extend .page;

  label {
    color: gray;
  }

  .soon {
    line-height: 95px;
    font-size: 60px;
    color: gray;
    font-weight: bold
  }

  .profile-container {
    @extend .container;

    width: 700px;

    .first-col {
      margin-right: 15px;
    }

    .user-avatar {
      height: 200px;
      width: 200px;
      margin-bottom: 15px;
    }

    .input-avatar {
      margin-bottom: 15px;
      width: fit-content;
      max-width: 200px;
    }

    .nickname {
      font-weight: bold;
      font-size: 22px;
    }
  }
}